$black: #101010;
$white: #fff;
$white--light: #fafafa;

$grey--light: #C4C4C4;
$grey--medium: #8B8B8B;

$primary-color--light: #9ee6cf;
$primary-color--medium: #50c9ba;
$primary-color--dark: #4ba2ac;

$secondary-color--light: #ff6699;
$secondary-color--medium: #c54c82;
$secondary-color--dark: #512e67;